html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
}

/* 1 блок */
.header {
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
}

.burger {
    display: none;
}

.main {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 25px;
}

.menu-list {
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
    padding-left: 25px;
}

.menu-left {
    padding-left: 45px;
}

.menu-right {
    padding-right: 35px;
}

.menu-right img {
    width: 32px;
    height: 32px;
}


.menu-link {
    color: #ffffff;
    font-size: 15px;
}

.promo {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 267px;
    margin: 0 auto;
}

.promo_inner {
    min-height: 100vh;
    text-align: center;
}

.title {
    max-width: 729px;
    font-family: 'Montserrat', sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    /* 113.514% */
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 0 auto;
}

.subtitle {
    max-width: 811px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 90px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 0.2px;
    color: #ffffff;
    display: flex;
    width: 236px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border-color: #2091F9;
    border: 0px;
    background: var(--Primary, #2091F9);
    margin: 0 auto;
}

/* 2 блок */
.features {
    max-width: 890px;
    padding: 0 10px;
    margin: 0 auto;
}

.title_features {
    color: var(--text, #252B42);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 114.583% */
    letter-spacing: 0.2px;
    padding-top: 126px;
}

.subtitle_features {
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 0.2px;
    max-width: 564px;
    margin: 0 auto;
    padding-top: 27px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
    text-align: center;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: 0.1px;
    padding-top: 20px;
}

.text {
    padding-top: 20px;
    padding-bottom: 132px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: 0.2px;
}


.card_1 {
    max-width: 250px;
}

.card_2 {
    max-width: 250px;
}

.card_3 {
    max-width: 250px;
}

/* 3 блок */
.video {
    background-image: url(screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1177.341px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 45px;
    border: 0px;
    box-shadow: 0px 8.148px 63.145px 0px rgba(0, 0, 0, 0.15);
}

/* 4 блок */
.fastet {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-family: Montserrat;
    padding: 226px 0;
    margin: 0 auto;
    max-width: 1180px;
}

.title_fastet {
    color: var(--text, #252B42);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 114.583% */
    letter-spacing: 0.2px;
    padding-bottom: 17px;
    max-width: 367px;
}

.text_fastet {
    color: var(--second-text, #374754);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 0.2px;
    max-width: 564px;
    padding-bottom: 70px;
}

.button_fastet {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 0.2px;
    color: #ffffff;
    display: flex;
    width: 236px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border-color: #2091F9;
    border: 0px;
    background: var(--Primary, #2091F9);
}

.notebook {
    max-width: 560px;
}

/* 5 блок */
.pricing {
    background-color: #252B42;
    padding-bottom: 100px;
}

.title_pricing {
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 114.583% */
    letter-spacing: 0.2px;
    padding-top: 110px;
}

.text_pricing {
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 0.2px;
    padding-top: 27px;
    max-width: 564px;
    margin: 0 auto;
}

.tarif {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    max-width: 1105px;
    margin: 0 auto;
}

.free {
    margin-top: 43px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 335px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: var(--light-background, #FFF);
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    max-height: 607px;
}

.standard {
    background-color: #2091F9;
    display: flex;
    justify-content: space-around;
    width: 335px;
    padding: 83px 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: var(--Primary, #2091F9);
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    max-height: 693px;
}

.business {
    margin-top: 43px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 335px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: var(--light-background, #FFF);
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    max-height: 607px;
}


.title_tarif {
    color: #252B42;
    /* H3 */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: 0.1px;
    text-align: center;
    padding-bottom: 3px;
}

.subtitle_tarif {
    color: var(--second-text, #374754);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 143.75% */
    letter-spacing: 0.1px;
    max-width: 156px;
}

.price_tarif {
    display: flex;
    align-items: center;
    gap: 10px;
}

.over {
    display: flex;
    flex-direction: column;
}

.price {
    color: #252B42;
    /* H1 */
    font-family: Montserrat;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    /* 113.514% */
    letter-spacing: 0.2px;
}

.dollar {
    color: #252B42;
    /* H3 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: 0.1px;
}

.month {
    color: var(--second-text, #374754);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 143.75% */
    letter-spacing: 0.1px;
}

.punkt {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    color: #252B42;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
    letter-spacing: 0.2px;
}

.button_tarif {
    color: var(--Light-text, #FFF);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 0.2px;
    display: flex;
    padding: 18px 38px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 35px;
    border: 0px;
    background: var(--Primary, #2091F9);
}

.standard h3 {
    color: #FFF;
}

.standard p {
    color: #FFF;
}

.standard a {
    color: #FFF;
}

.standard button {
    display: flex;
    padding: 18px 38px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 35px;
    background: var(--Light-text, #FFF);
    color: var(--Primary, #2091F9);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 0.2px;
}

/* 6 блок */
.partners {
    margin-bottom: 285px;
}

.title_partners {
    color: var(--text, #252B42);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 114.583% */
    letter-spacing: 0.2px;
    padding-top: 295px;
}

.text_partners {
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 0.2px;
    max-width: 564px;
    margin: 0 auto;
    padding-top: 27px;

}

.logo_partners {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    justify-content: center;
    margin: 0 auto;
    padding: 80px 0;
}

.button_partners {
    margin: 0 auto;
}

.google {
    display: flex;
    flex-direction: column;
    padding: 31px 40px;
    gap: 15px;
    text-align: center;
}

.amazon {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    gap: 15px;
    text-align: center;
}

.microsoft {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    gap: 15px;
    text-align: center;
}

.uber {
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
    gap: 15px;
    text-align: center;
    align-items: center;
}

.uber img {
    width: 140px;
    height: 77px;
}


.client_name {
    color: var(--second-text, #374754);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 143.75% */
    letter-spacing: 0.1px;
    padding-top: 10px;
}

/* 7 блок */
.footer {
    background-color: #252B42;
    color: #ffffff;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer h3 {
    color: var(--Light-text, #FFF);
    /* H3 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: 0.1px;
}

.footer_left {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 150px;
    max-width: 582px;
}

.footer_left p {
    color: var(--Light-text, #FFF);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
    letter-spacing: 0.2px;
    width: 186px;
}

.pages_column {
    width: 170px;
}

.footer_right {
    padding: 150px;
}

.pages_column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.Tomothy_column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.JaneBlack_column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.container_footer {
    display: flex;
    justify-content: space-between;
}

.footer_right p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 180% */
    letter-spacing: 0.2px;
}

.footer_right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    max-width: 284px;
}

.adress {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.phone {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding: 20px;
}

/* adaptive */
@media (max-width: 1200px) {
    .video {
        width: 90%;
        height: 660px;
    }
}

@media (max-width: 1125px) {
    .burger {
        display: block;
        margin-right: 20px;
    }

    .menu-list {
        display: none;
    }

    .fastet {
        flex-wrap: wrap;
        justify-content: center;
    }

    .title_fastet {
        text-align: center;
        margin: 0 auto;
    }

    .text_fastet {
        text-align: center;
    }

    .button_fastet {
        margin: 0 auto;
    }

    .tarif {
        flex-direction: column;
        align-items: center;
    }

    .standard {
        margin-top: 43px;
    }

    .logo_partners {
        grid-template-columns: repeat(auto-fill, 273px);
    }
}

@media (max-width: 875px) {
    .footer_left {
        padding: 100px 0;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .container_footer {
        justify-content: center;
    }

    .cards {
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    .cards p {
        padding: 20px 0 50px;
    }

    .fastet {
        padding: 100px;
    }

    .title_partners {
        padding-top: 100px;
    }

    .partners {
        margin-bottom: 100px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .title_features{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .subtitle_features{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .title_fastet{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .text_fastet{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .title_pricing{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .text_pricing {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .title_partners{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .text_partners{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .video{
        background-position-x: -170px;
    }

    .notebook{
        width: 300px;
    }

    .tarif{
        padding-top: 40px;
    }

    .logo_partners{
        padding: 50px 0;
    }

}